# 排除列表（不上传的文件/文件夹）
# Jupyter checkpoint
.ipynb_checkpoints/
# Python 编译缓存
__pycache__/
*.pyc
*.pyo
# 临时生成的 Excel 数据（考勤结果）
*.xlsx
# PyInstaller 打包产物
build/
Dist/
*.spec
# 日志文件
*.log
# Jupyter notebook（如果不需要）
*.ipynb
# 其他临时文件
Thumbs.db
.DS_Store
