# Byte-compiled / optimized / cache
__pycache__/
*.pyc
*.pyo

# Build artifacts
*.spec
/build/
/dist/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data files (large Excel/CSV)
*.xlsx
*.xls
*.csv

# Temporary or personal files
*.log
*.txt

temp/
